<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">Homepage</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'study_rate' %}">Study Graph (in progress)</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'study_list' %}">Study List</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_study' %}">Add a new study</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_comment' %}">Add a comment</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_patient' %}">Add a patient</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_pathology' %}">Add a pathology</a>
        </li>

    </ul>

</nav>